html {
  scroll-behavior: smooth;
}

.header {
  padding: 92px 50px 96px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
  min-width: 391.48px;
  padding-bottom: 6px;
}

.header__links-list-item {
  text-decoration: underline;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header__links-list-item_no-circle {
  list-style-type: none;
  text-decoration: none;
}

.header__logo {
  display: block;
  margin-right: 184px;
  margin-left: 36.5px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  font-weight: 400;
  font-size: 18px;
}

.header__address {
  line-height: 24.3px;
}

.address-item {
  font-style: normal;
  text-decoration-thickness: 1px;
  text-underline-offset: 3.3px;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  width: 1100px;
  min-height: 757px;
  margin-bottom: 182px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-bottom: 103px;
}

.cover__title-item {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.cover__title-item_left {
  text-align: left;
}

.cover__title-item_center {
  text-align: center;
  padding-left: 30px;
}

.cover__title-item_right {
  text-align: right;
  margin-right: -30px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.cover__description-text {
  color: #fff;
  margin-right: 107px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
  text-transform: uppercase;
  width: 637px;
  display: contents;
}

.cover__description-button {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  height: 51px;
  width: 256px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
}

.lots {
  margin-bottom: 120px;
  padding: 0;
}

.lots__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  padding-left: 64px;
}

.lots__lots-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-left: 24px;
  list-style: none;
  margin-bottom: 33px;
}

.lots__lot-list-item {
  width: 335px;
  min-height: 596px;
  position: relative;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  z-index: 1;
}

.lot-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.lot {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lot_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.lot_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.lot_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lot__title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3.5px;
  z-index: 1;
}

.lot__text {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  z-index: 1;
}

.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  padding-left: 63px;
  text-decoration-thickness: 1px;
  text-underline-offset: 3.3px;
}

.about {
  padding: 35px 0 13px 47px;
  margin-bottom: 180px;
  display: flex;
  margin: 0 24px 167px;
}

.about__logo {
  display: block;
  width: 145%;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 72px;
}

.about__logo-image {
  position: relative;
  width: 148px;
  height: 114px;
  top: 64px;
  left: 46.48px;
}

.about__content {
  padding: 102px 0 0 0;
}

.about__title {
  position: relative;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 106px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

p + p {
  margin-top: 24px;
}

.footer {
  padding: 0 50px 82px 50px;
  display: flex;
}

.footer__address {
  display: grid;
  margin-right: 154px;
  line-height: 24.3px;
  max-width: 264px;
}

.footer__menu {
  margin-right: 177.5px;
  min-width: 163px;
  padding-top: 2px;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  gap: 4px;
}

.footer__links-list-item {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.footer__links-list-item_no-underline {
  text-decoration: none;
}

.socials {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.socials__item {
  width: 48px;
  height: 48px;
}